In [62]:
import pandas as pd
import re

In [63]:
raw_data = {
    'Name': ['John123', 'Ayesha!!', 'Rahul <b>Verma</b>'],
    'Email': ['john.doe@gmail.com', 'invalid..email@domain..com', 'ayesha@domain.co.in'],
    'Phone': ['+91-9876543210', '12345', '0 9999999999'],
    'IP': ['192.168.1.1', '300.1.2.3', '10.0.0.1'],
    'Comment': ['<div>Hello there!</div>', '<p>Good <b>job</b></p>', 'Clean text'],
    'Date': ['2023-01-15', '15 Jan 2023', '2023/13/32'],
    'CardNumber': [ '4111 1111 1111 1111', '5500-0000-0000-0004','1234abcd5678efgh']
}

df = pd.DataFrame(raw_data)
df

,Name,Email,Phone,IP,Comment,Date,CardNumber
0,John123,john.doe@gmail.com,+91-9876543210,192.168.1.1,<div>Hello there!</div>,2023-01-15,4111 1111 1111 1111
1,Ayesha!!,invalid..email@domain..com,12345,300.1.2.3,<p>Good <b>job</b></p>,15 Jan 2023,5500-0000-0000-0004
2,Rahul <b>Verma</b>,ayesha@domain.co.in,0 9999999999,10.0.0.1,Clean text,2023/13/32,1234abcd5678efgh

In [64]:
p1=r'((\<\/?[a-z]\>)|([^a-zA-Z]))'
df['Cleaned_Name']=df['Name'].apply(lambda x :  re.sub(p1,'',x))

In [65]:
df['Cleaned_Name']

0          John
1        Ayesha
2    RahulVerma
Name: Cleaned_Name, dtype: object

In [66]:
p2 = r'([a-zA-Z0-9]+[._%+-]{0,1}[a-zA-z0-9]+@[a-zA-Z0-9-]+\.[a-zA-Z]{2,3}(?:\.[a-zA-Z]{2})?)'
df['Valid_emails'] = df['Email'].str.extract(p2, expand=False)

In [67]:
df['Valid_emails']

0     john.doe@gmail.com
1                    NaN
2    ayesha@domain.co.in
Name: Valid_emails, dtype: object

In [68]:
p3=r'(?:\+[\d]{1,2}\-)?([\d]{10})'
df['Phone_numbers']=df['Phone'].str.extract(p3,expand=False)

In [69]:
df['Phone_numbers']

0    9876543210
1           NaN
2    9999999999
Name: Phone_numbers, dtype: object

In [70]:
p4=r'(<.*?>)'
df['Text_b/w_tags']=df['Comment'].apply(lambda x: re.sub(p4,'',x))

In [71]:
df['Text_b/w_tags']

0    Hello there!
1        Good job
2      Clean text
Name: Text_b/w_tags, dtype: object

In [72]:
from dateutil import parser

In [73]:
def clean_date(date):
    try:
        return parser.parse(date).strftime('%Y-%m-%d')
    except:
        return None

In [74]:
df['Cleaned_date']=df['Date'].apply(clean_date)

In [75]:
df['Cleaned_date']

0    2023-01-15
1    2023-01-15
2          None
Name: Cleaned_date, dtype: object

In [76]:
p5=r'(\b(?:(?:25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]?[0-9])\.){3}(?:25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]?[0-9])\b)'
df['Valid_IPs']=df['IP'].str.extract(p5,expand=False)

In [77]:
df['Valid_IPs']

0    192.168.1.1
1            NaN
2       10.0.0.1
Name: Valid_IPs, dtype: object

In [78]:
p6=r'((?:\d+[ .-]){3}\d+)'
df['Valid_CardNumber']=df['CardNumber'].str.extract(p6,expand=False)

In [79]:
df

,Name,Email,Phone,IP,Comment,Date,CardNumber,Cleaned_Name,Valid_emails,Phone_numbers,Text_b/w_tags,Cleaned_date,Valid_IPs,Valid_CardNumber
0,John123,john.doe@gmail.com,+91-9876543210,192.168.1.1,<div>Hello there!</div>,2023-01-15,4111 1111 1111 1111,John,john.doe@gmail.com,9876543210,Hello there!,2023-01-15,192.168.1.1,4111 1111 1111 1111
1,Ayesha!!,invalid..email@domain..com,12345,300.1.2.3,<p>Good <b>job</b></p>,15 Jan 2023,5500-0000-0000-0004,Ayesha,NaN,NaN,Good job,2023-01-15,NaN,5500-0000-0000-0004
2,Rahul <b>Verma</b>,ayesha@domain.co.in,0 9999999999,10.0.0.1,Clean text,2023/13/32,1234abcd5678efgh,RahulVerma,ayesha@domain.co.in,9999999999,Clean text,None,10.0.0.1,NaN

In [80]:
df_new=df[['Cleaned_Name',	'Valid_emails',	'Phone_numbers',	'Text_b/w_tags',	'Cleaned_date',	'Valid_IPs','Valid_CardNumber']].copy()

In [81]:
df_new.to_csv(r'C:\Users\taham\Downloads\Cleaned_file_regex.csv')